body {
  margin: 0;
  padding: 0;
  font-family: CeraProRegular;
  overflow: hidden; }

#bgCanvas {
  pointer-events: none; }

#container {
  position: relative;
  width: 1920px;
  height: 1080px;
  background: #fcfbe6; }

.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#menuContent {
  display: flex;
  flex-wrap: nowrap; }
  #menuContent .sidePad {
    position: relative;
    content: ' ';
    width: 50px;
    height: 100%; }

#shownContent {
  opacity: 1;
  margin-left: 0;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); }
  #shownContent.hidden {
    opacity: 0;
    margin-left: -40px;
    pointer-events: none;
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) !important; }

.menuPanel {
  position: relative;
  top: 0;
  height: 1080px;
  text-align: center; }
  .menuPanel.notFocused {
    width: 540px; }
    .menuPanel.notFocused .panelImgDiv {
      margin-top: 25px;
      width: 500px; }
    .menuPanel.notFocused .panelBar {
      width: 100px; }
    .menuPanel.notFocused h1 {
      font-size: 48px; }
    .menuPanel.notFocused h3 {
      height: 50px;
      opacity: 0; }
    .menuPanel.notFocused button {
      margin-top: 0; }
  .menuPanel.focused {
    width: 740px; }
    .menuPanel.focused .panelImgDiv {
      margin-top: -75px;
      width: 700px; }
    .menuPanel.focused .panelBar {
      width: 250px; }
    .menuPanel.focused h1 {
      font-size: 64px;
      width: 700px; }
    .menuPanel.focused h3 {
      height: 100px;
      opacity: 1; }
    .menuPanel.focused button {
      margin-top: 40px; }
  .menuPanel .panelImgDiv {
    display: block;
    margin-bottom: -75px;
    margin-left: auto;
    margin-right: auto; }
    .menuPanel .panelImgDiv img {
      width: 100%; }
  .menuPanel h1 {
    font-family: CeraProBold;
    width: 450px;
    padding-top: 40px;
    margin: 0 auto; }
  .menuPanel h3 {
    font-weight: normal;
    width: 540px;
    margin: 0 auto;
    padding-top: 25px;
    font-size: 20px; }
  .menuPanel button {
    font-family: CeraProMedium;
    letter-spacing: 0.1em;
    width: 200px;
    height: 45px;
    border-radius: 40px;
    background: white;
    outline: none;
    border: none;
    font-size: 15px;
    text-transform: uppercase; }

.panelBar {
  height: 10px;
  background: white;
  display: inline-block; }

#encounter button {
  box-shadow: 0 5px 40px rgba(185, 14, 42, 0.6), 0 10px 25px rgba(185, 14, 42, 0.8), 0 20px 60px rgba(185, 14, 42, 0.3); }

#sloop button {
  box-shadow: 0 5px 40px rgba(90, 169, 164, 0.6), 0 10px 25px rgba(90, 169, 164, 0.8), 0 20px 60px rgba(90, 169, 164, 0.3); }

#david button {
  box-shadow: 0 5px 40px rgba(202, 132, 25, 0.6), 0 10px 25px rgba(202, 132, 25, 0.8), 0 20px 60px rgba(202, 132, 25, 0.3); }

#shownContent {
  font-size: 18px;
  position: absolute; }
  #shownContent svg {
    position: absolute !important; }
  #shownContent #backBtn {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 150px;
    height: 150px;
    border: none;
    background: #fcfbe6;
    background-image: url("../img/close-button.svg");
    outline: none; }
  #shownContent #topPanel {
    width: 800px;
    position: relative;
    display: flex;
    top: 125px;
    left: 230px;
    color: white;
    z-index: 3; }
    #shownContent #topPanel .labelText {
      font-family: CeraProLight;
      margin-bottom: -12px; }
    #shownContent #topPanel .topPanelCol {
      height: 100%;
      padding-right: 25px; }
    #shownContent #topPanel #topPanelLeft {
      width: 275px; }
    #shownContent #topPanel #topPanelCenter {
      width: 200px; }
    #shownContent #topPanel #topPanelRight {
      width: 325px; }
      #shownContent #topPanel #topPanelRight img {
        max-width: 100%;
        stroke-width: 300%; }
    #shownContent #topPanel .labelBold {
      font-family: CeraProBold;
      font-weight: bold; }
  #shownContent h1 {
    position: relative;
    top: 80px;
    font-size: 90px;
    color: black;
    width: 900px;
    left: 230px;
    font-family: CeraProBold;
    margin-bottom: 220px; }
  #shownContent #contentText {
    position: relative;
    top: -50px;
    left: 230px;
    color: black;
    width: 700px; }

#mapDiv {
  pointer-events: none;
  mix-blend-mode: multiply;
  position: absolute;
  top: 25px;
  right: 25px;
  height: 1030px;
  width: 900px;
  text-align: right;
  margin-right: 0;
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); }
  #mapDiv.hidden {
    margin-right: -200px;
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) !important; }
  #mapDiv img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%; }

.transFocus {
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1); }

.transFocusText {
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); }

#newPanelBar {
  position: absolute !important;
  transition: none !important; }

#counter {
  position: absolute;
  top: 0;
  right: 0; }
  #counter #count {
    position: absolute;
    top: 0;
    text-align: right;
    padding-right: 20px;
    right: 30px;
    width: 150px;
    height: 30px;
    color: grey;
    display: inline-block;
    transition: all 0.5s; }
    #counter #count.hidden {
      opacity: 0; }
  #counter #counterBtn {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    display: inline-block; }

/*# sourceMappingURL=oceanday.css.map */
