$transFocusChange: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);			//	ease-out-cubic

body {
	margin: 0;
	padding: 0;
	font-family: CeraProRegular;
}

#bgCanvas {
	pointer-events: none;
}

#container {
	position: relative;
	width: 3840px;
	height: 2160px;
	background: #fcfbe6;
	border: 2px solid grey;
}

.screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#menuContent {
	display: flex;
	flex-wrap: nowrap;
	.sidePad {
		position: relative;
		content: ' ';
		width: 100px;
		height: 100%;
	}
}

#shownContent {
	pointer-events: none;
	// background: rgba(0,0,255,0.4);
}

#panelEncounter {
	// border: 2px solid red;
}
#panelDavid {
	// border: 2px solid green;
}
#panelSloop {
	// border: 2px solid blue;
}

.menuPanel {
	position: relative;
	top: 0;
	height: 2160px;
	text-align: center;
	&.notFocused {
		width: 1080px;
		.panelImgDiv {
			margin-top: 0px;
			width: 1000px;
		}
		.panelBar {
			width: 200px;
		}
		h1 {
			font-size: 96px;
		}
		h3 {
			height: 100px;
			opacity: 0;
		}
		button {
			margin-top: 0;
		}
	}
	&.focused {
		width: 1480px;		
		.panelImgDiv {
			margin-top: -150px;
			width: 1400px;
		}
		.panelBar {
			width: 500px;
		}
		h1 {
			font-size: 128px;
		}
		h3 {
			height: 200px;
			opacity: 1;
		}
		button {
			margin-top: 80px;
		}
	}
	.panelImgDiv {
		display: block;
		margin-bottom: -150px;
		margin-left: auto;
		margin-right: auto;
		// background: rgba(255,0,0,0.2);
		img {
			width: 100%;
		}
	}
	.panelBar {
		height: 20px;
		background: white;
		display: inline-block;
	}
	h1 {
		font-family: CeraProBold;
		width: 900px;
		padding-top: 80px;
		margin: 0 auto;
		// background: rgba(0,255,0,0.2);
	}
	h3 {
		font-weight: normal;
		width: 1080px;
		margin: 0 auto;
		padding-top: 50px;
		font-size: 40px;
		// background: rgba(255,255,0,0.2);
	}
	button {
		font-family: CeraProMedium;
		letter-spacing: 0.1em;
		width: 400px;
		height: 80px;
		border-radius: 80px;
		background: white;
		outline: none;
		border: none;
		font-size: 30px;
		text-transform: uppercase;
		box-shadow: 0 10px 100px rgba(0,0,0,0.2), 0 20px 50px rgba(0,0,0,0.5);
	}
}

.transFocus {
	transition: $transFocusChange;
}